div.containers {
  width: 100%;
}

div.container {
  display: inline-block;
  cursor: default;
  width: 47%;
  height: 20em;
  user-select: none;
}

div.container-color {
  background-color: cornflowerblue;
  padding: 1em 0;
  text-align: center;
}

div.container-log {
  background-color: lightgray;
  float: right;
  padding: 1em;
  overflow: scroll;
}

div.divider {
  width: 100%;
  height: 2em;
}