body {
  font-family: "American Typewriter";
}

div.containers {
  width: 100%;
}

div.container {
  display: inline-block;
  background-color: cornflowerblue;
  cursor: default;
  width: 20em;
  height: 20em;
  padding: 1em 0;
  text-align: center;
  user-select: none;
}

div.container_log {
  background-color: lightgray;
  float: right;
  width: 20em;
  height: 20em;
  padding: 1em;
  overflow: scroll;
}

div.divider {
  width: 100%;
  height: 2em;
}