body {
  font-family: "American Typewriter";

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  display: block;
  margin-bottom: .5em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}